@import url('https://fonts.googleapis.com/css2?family=Playfair+Display');

@font-face{
	font-family: 'Academy Engraved';
	src: url('academy-engraved.ttf');
}

body{
	background: #251314;
	color: #e39223;
	font-family: 'Playfair Display';
	font-size: 1.25em;
	text-align: justify;
	margin: 3em 5em;
}

h1{
	font-family: 'Academy Engraved';
	font-size: 2.5em;
	font-weight: normal;
}

h2{
	font-family: 'Academy Engraved';
	font-size: 2.25em;
	font-weight: normal;
}

h3{
	font-family: 'Academy Engraved';
	font-size: 2em;
	font-weight: normal;
}

h4{
	font-family: 'Academy Engraved';
	font-size: 1.75em;
	font-weight: normal;
}

h5{
	font-family: 'Academy Engraved';
	font-size: 1.5em;
	font-weight: normal;
}

h6{
	font-family: 'Academy Engraved';
	font-size: 1.25em;
	font-weight: normal;
}

a{
	color: #f7d05c;
	text-decoration: none;
}

.video{
	width: 100%;
	aspect-ratio: 16 / 9;
	border: 0.1em solid #ffc778;
}

.caption{
	font-size: 1em;
	text-align: center;
	padding: 1em;
}
